html, body {
    /* Vars o3o */
    --color_a: #444;
    --color_b: #555990;
    --color_c: #fff85d;
    --color_d: #fff;

    --w_button: 300px;
    --h_button: 30px;
    --pTop_button: 10px;
    --pRight_button: 10px;
    --pBottom_button: 0px;
    --pLeft_button: 10px;
    
    --w_cb: 20px;
    --h_cb: 20px;
	
	--w_pixel: 15px;
	--h_pixel: 15px;

    /* Attributes */
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--color_c);
    font-size: 13px;
    font-family: lato, sans-serif;
    font-weight: 400;
    color: var(--color_a);
    line-height: 140%;
    letter-spacing: 1px;
    overflow: hidden;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 27px;
}

span {
	font-size: 24px;
}

span > span {
	font-size: 12px;
}

a {
    display: block;
    width: var(--w_button);
    height: var(--h_button);
    border: 0;
    padding: var(--pTop_button) var(--pRight_button) var(--pBottom_button) var(--pLeft_button);
    background-color: var(--color_b);
    color: var(--color_d);
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.5s;
}

a:hover {
    background-color: var(--color_a);
}

input[type="text"] {
    width: var(--w_button);
    height: calc(var(--h_button) - var(--pTop_button));
    border: 0;
    padding: var(--pTop_button) var(--pRight_button);
}

input[type="checkbox"] {
    width: var(--w_cb);
    height: var(--h_cb);
}

.center {
	position: absolute;
	width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.vflex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.pixel {
	display: inline-block;
	width: var(--w_pixel);
	height: var(--h_pixel);
}

#game, #win, #lose {
	top: 150%;
}

.moveToForeignTop {
	transition: 2s;
	transition-timing-function: ease-in-out;
	top: -100% !important;
}

.moveToCenterY {
	transition: 2s;
	transition-timing-function: ease-in-out;
	top: 50% !important;
}

#config {
    width: var(--w_button);
    padding: 30px 0px 10px 0px;
}

#cpanel {
    transition: 1s;
}

#viewer {
    display: none;
    font-size: 24px;
    color: #630e0e;
    margin: 0;
    padding: 10px 0px 30px 0px;
}

.hugeText {
    font-size: 62px;
}

#marc {
    position: fixed;
    display: block;
    bottom: 25px;
    right: 20px;
}
